<h1>Create new student</h1>
<%= form_for @product do |form|%>
    <%= form.label :title%>
	<%= form.text_field :title %>
	<br>
    <%= form.label :price%>
	<%= form.text_field :price %>
	<br>
    <%= form.label :age%>
	<%= form.text_field :description %>
    <br>	
    <%= form.label :img%>
	<%= form.text_field :img %>
	<br>
	<%= form.submit %>
	<% end %>

